<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理界面</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="/static/css/me.css" rel="stylesheet">

</head>
<body >
<!--消息弹窗-->
<div th:text="${#request.getAttribute('msg')}" id="showMsg" style="display: none">存数据的盒子，默认设置隐藏｛即输出的对应内容｝</div>
<script  type="text/javascript">
    /*消息弹窗*/
    msg = document.getElementById("showMsg").innerHTML;
    if (msg!=""){
        alert(msg)
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="h3 text-center">员工管理</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" th:action="@{/emp/conditional?pageNum=1}" method="post">
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input class="form-control" name="empID" type="text" th:value="${empID}" placeholder="ID">
                    <span class="input-group-addon">姓名</span>
                    <input class="form-control" name="empName" type="text" th:value="${empName}" placeholder="员工姓名">
                    <span class="input-group-addon">性别</span>
                    <input class="form-control" name="sex" type="text" th:value="${sex}" placeholder="性别">
                    <span class="input-group-addon">职位</span>
                    <input class="form-control" name="job" type="text" th:value="${job}" placeholder="员工职位">
                </div>
                <input class="btn btn-primary" type="submit" value="查找">
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">入职时间</th>
                <th scope="col" class="text-center">职位</th>
                <th scope="col" class="text-center">姓名</th>
                <th scope="col" class="text-center">性别</th>
                <th scope="col" class="text-center">地址</th>
                <th scope="col" class="text-center">电话</th>
                <th scope="col" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each ="emp:${empIPage.getRecords()}">
                <td class="text-center" th:text="${emp.empID}">empID</td>
                <td class="text-center" th:text="${#dates.format(emp.createTime,'yyyy年MM月dd日 HH:mm:ss')}">createTime</td>
                <td class="text-center" th:text="${emp.job}">job</td>
                <td class="text-center" th:text="${emp.realName}">realName</td>
                <td class="text-center" th:text="${emp.sex}">sex</td>
                <td class="text-center" th:text="${emp.address}">address</td>
                <th class="text-center" th:text="${emp.phone}">phone</th>
                <td class="text-center">
                    <a href="#" class="btn btn-primary">修改</a>
                    <a href="#" class="btn btn-danger">删除</a>
                </td>
            </tr>
            </tbody>
        </table>

        <!--分页组件-->
        <strong>一共[[${pages}]]页，[[${Total}]]条数据,当前为第[[${pageCurrent}]]页</strong>
        <nav aria-label="Page navigation example">
            <!--正常查询的跳转列表-->
            <ul class="pagination justify-content-center"  th:if="${flag}=='normal'">
                <li class="page-item">
                    <a class="page-link"
                       th:if="${pageCurrent}-1<=0"
                       th:href="'/emp/'+${pageCurrent}"
                       th:text="上一页">Previous</a>
                    <a class="page-link"  th:if="${pageCurrent}-1>0" th:href="'/emp/'+${pageCurrent-1}" th:text="上一页">Previous</a>
                </li>
                <li class="page-item" th:each="i:${#numbers.sequence(1,pages)}" th:classappend="${(pageCurrent==i ? 'active' : '')}">
                    <a class="page-link" th:href="'/emp/'+${i}" th:text="${i}">1</a>
                </li>
                <!--可以考虑url传递 查询条件-->
                <li class="page-item">
                    <a class="page-link" th:if="${pageCurrent}+1<=${pages}" th:href="'/emp/'+${pageCurrent+1}"  th:text="下一页">Next</a>
                    <a class="page-link" th:if="${pageCurrent}+1>${pages}" th:href="'/emp/'+${pageCurrent}" th:text="下一页">Next</a>
                </li>
            </ul>

            <!--条件查询的跳转列表-->
            <ul class="pagination justify-content-center"  th:if="${flag}=='conditional'">
                <li class="page-item">
                    <a class="page-link"
                       th:if="${pageCurrent}-1<=0"
                       th:href="@{/emp/conditional(pageNum=${pageCurrent},empID=${empID},empName=${empName},sex=${sex},job=${job})}"
                       th:text="上一页">Previous</a>
                    <a class="page-link"
                       th:if="${pageCurrent}-1>0"
                       th:href="@{/emp/conditional(pageNum=${pageCurrent-1},empID=${empID},empName=${empName},sex=${sex},job=${job})}"
                       th:text="上一页">Previous</a>
                </li>
                <li class="page-item" th:each="i:${#numbers.sequence(1,pages)}" th:classappend="${(pageCurrent==i ? 'active' : '')}">
                    <a class="page-link"
                       th:href="@{/emp/conditional(pageNum=${i},empID=${empID},empName=${empName},sex=${sex},job=${job})}"
                       th:text="${i}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:if="${pageCurrent}+1<=${pages}"
                       th:href="@{/emp/conditional(pageNum=${pageCurrent+1},empID=${empID},empName=${empName},sex=${sex},job=${job})}"
                       th:text="下一页">Next</a>
                    <a class="page-link"
                       th:if="${pageCurrent}+1>${pages}"
                       th:href="@{/emp/conditional(pageNum=${pageCurrent},empID=${empID},empName=${empName},sex=${sex},job=${job})}"
                       th:text="下一页">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>