<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=devic-width, initial-scale=1.0" />
		<title>首页</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet"  href="static/css/style.css" />
		<script>
			/*表单验证*/
			function check(){
				var password1 = reg.passwordOne.value;
				var password2 = reg.passwordTow.value;
				if (password1 != password2){
					alert("两次密码不一致!");
					return false;
				}
				return true;
			}

			/*消息弹窗*/
			$(document).ready(
				function(){
					var msg = $("#Tmsg").html();
					if (msg != ""){
						alert(msg)
					}
				}
			)
		</script>
	</head>
	<body>
	<div th:text="${#request.getAttribute('msg')}" id="Tmsg" style="display: none" >存数据的盒子，默认设置隐藏｛即输出的对应内容｝</div>
	<!-- 导航 -->
		<nav class="ui inverted attached segment m-padded-tb-mini">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header m-blog" style=" display: inline-block; padding-top: 10px;">健身房管理系统</h2>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
					<div class="m-item right item m-mobile-hide">
						<div class="ui icon inverted transparent input">
							<div class="login-button">
							    <button id="login" > 登录</button>
							</div>
							<div class="overCurtain"></div>

							<div class="hide-center-login">
							    <div id="formhead">
							        <div id="formhead-title">
							            用户登录
							        </div>
							        <button type="button" id="loginclose">X</button>
							    </div>
							    <form action="/user/login" name="log" method="post" id="formbody">
							        <div class="loginUserName">
							            <input id="input-topright-loginInput" name="userName" class="loginInput" placeholder="用户名" type="text" required="">
							        </div>
							        <div class="loginPassword">
							            <input id="input-bottomright-loginInput" name="password" class="loginInput" placeholder="密码" type="password" required="" style="border-bottom-right-radius:5px;">
							        </div>
							        <div id="formfoot">
							            <input id="BSignIn" type="submit" value="登录">
							        </div>
							    </form>
							</div>
							<i style="line-height: 5px; height: 5px; margin:7px ;">|</i>
							<body>
							<div class="login-button">
							    <button id="register"> 注册</button>
							</div>
							<div class="overCurtain"></div>

							<div class="hide-center-register">
							    <div id="formhead">
							        <div id="formhead-title-register">
							            用户注册
							        </div>
							        <button type="button" id="registerclose">X</button>
							    </div>
							    <form action="/user/registered" name="reg" method="post" id="formbodyRegister" onsubmit="return check()">
							        <div class="loginUserName">
							            <input id="input-topright-loginInput" name="userName" class="loginInput"  type="text" placeholder="用户名" required="">
							        </div>
									<div class="loginUserName">
										<input id="input-topright-loginInput" name="realName" class="loginInput"  type="text" placeholder="真实姓名" required="">
									</div>
							        <div class="loginPassword">
							            <input id="input-bottomright-loginInput" name="passwordOne" class="loginInput" placeholder="密码" type="password" style="border-bottom-right-radius:5px;" required="">
							        </div>
									<div class="loginPassword">
									    <input id="input-bottomright-loginInput" name="passwordTow" class="loginInput" placeholder="确认密码" type="password" style="border-bottom-right-radius:5px;" required="">
									</div>
									<div class="loginPassword">
										<input type="radio" value="男" name="sex" checked/><i style="color:#bfbfbf;">   男   </i><input type="radio" value="女" name="sex"/><i style="color:#bfbfbf;">   女   </i>
									</div>
									<div class="loginPassword">
										<input id="input-bottomright-loginInput" name="phone" class="loginInput" placeholder="电话" type="text" style="border-bottom-right-radius:5px;" required="">
									</div>
							        <div id="formfoot">
							            <button id="Register" type="submit">注册</button>
							        </div>
							    </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!-- 中间内容 -->
		<div class="m-container m-padded-tb-large">
			<div class="ui container">
				<div class="ui stackable grid">
					<!-- 左边博客列表 -->
					<div class="eleven wide column">
						<!-- header -->
						<div class="ui top attached segment">
							<div class="ui middle aligned two column grid">
								<div class="column">
									<h3 class="ui teal header">介绍</h3>
								</div>
							</div>
						</div>

						<!-- content -->
						<div class="ui attached segment">
							<div class="ui padded vartical segment">
								<div class="ui mobile reversed stackable grid">
									<div class="eleven wide column">
										<h3 class="ui header">健身器材介绍</h3>
										<p class="m-text">就是玩</p>
									</div>
									<div class="five wide column">
										<a href="#" target="_blank">
											<img  src="static/images/器械.jpg" alt="" class="ui rounded image"/>
										</a>
									</div>
								</div>
							</div>

							<div class="ui padded vartical segment">
								<div class="ui mobile reversed stackable grid">
									<div class="eleven wide column">
										<h3 class="ui header">健身器材介绍</h3>
										<p class="m-text">就是玩</p>
									</div>
									<div class="five wide column">
										<a href="#" target="_blank">
											<img src="static/images/瑜伽室.jpg" alt="" class="ui rounded image"/>
										</a>
									</div>
								</div>
							</div>

							<div class="ui padded vartical segment">
								<div class="ui mobile reversed stackable grid">
									<div class="eleven wide column">
										<h3 class="ui header">健身器材介绍</h3>
										<p class="m-text">就是玩</p>
									</div>
									<div class="five wide column">
										<a href="#" target="_blank">
											<img src="static/images/力量.jpg" alt="" class="ui rounded image"/>
										</a>
									</div>
								</div>
							</div>

							<div class="ui padded vartical segment">
								<div class="ui mobile reversed stackable grid">
									<div class="eleven wide column">
										<h3 class="ui header">健身器材介绍</h3>
										<p class="m-text">就是玩</p>
									</div>
									<div class="five wide column">
										<a href="#" target="_blank">
											<img src="static/images/器械2.jpg" alt="" class="ui rounded image"/>
										</a>
									</div>
								</div>
							</div>
							<div class="ui padded vartical segment">
								<div class="ui mobile reversed stackable grid">
									<div class="eleven wide column">
										<h3 class="ui header">健身器材介绍</h3>
										<p class="m-text">就是玩</p>
									</div>
									<div class="five wide column">
										<a href="#" target="_blank">
											<img src="static/images/器械1.jpg" alt="" class="ui rounded image"/>
										</a>
									</div>
								</div>
							</div>









						</div>

						<!-- footer -->
						<div class="ui bottom attached segment">
							<div class="ui middle aligned two column grid">
								<div class="column">
									<a href="#" class="ui mini teal basic button">上一页</a>
								</div>
								<div class="right aligned column">
									<a href="#" class="ui mini teal basic button">下一页</a>
								</div>
							</div>
						</div>


					</div>
					<!-- 右边的top -->
					<div class="five wide column">

						<!-- 分类 -->
						<div class="ui segments">
							<div class="ui secondary segment">
								<div class="ui two column grid">
									<div class="column">
										<i class="idea icon"></i>今日课表
									</div>
									<div class="right aligned column">
										<p>
											星期一
										</p>
									</div>
								</div>
							</div>
							<div class="ui teal segment">
								<div class="ui fluid vertical menu">
									<a href="#" class="item">
										学习日志
										<div class="ui teal basic left pointing label">12</div>
									</a>
									<a href="#" class="item">
										思想与感悟
										<div class="ui teal basic left pointing label">12</div>
									</a>
									<a href="#" class="item">
										清单
										<div class="ui teal basic left pointing label">12</div>
									</a>
									<a href="#" class="item">
										JavaScript
										<div class="ui teal basic left pointing label">12</div>
									</a>
									<a href="#" class="item">
										创业
										<div class="ui teal basic left pointing label">12</div>
									</a>
									<a href="#" class="item">
										认知升级
										<div class="ui teal basic left pointing label">12</div>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		<footer class="ui inverted vertical segment m-padded-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px;"/>
							</div>
						</div>

					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新动态</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">健身器材</a>
							<a href="#" class="item">入会须知</a>
							<a href="#" class="item">最新课程</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我们</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email:2328181539@qq.com</a>
							<a href="#" class="item">QQ:2328181539</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">介绍</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这是本健身会所的首页,给用户提供一些健身房的介绍...</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright©2021-2022Liyuxi and LQQ Designed by Liyuxi and LQQ</p>
			</div>
		</footer>


		<script>
		$("#login").click(function () {
		    $(".hide-center-login").fadeIn("slow");
		    $(".overCurtain").fadeIn("slow");
		})
		$("#register").click(function () {
		    $(".hide-center-register").fadeIn("slow");
		    $(".overCurtain").fadeIn("slow");
		})
		$("#loginclose").click(function () {
		    $(".hide-center-login").fadeOut("slow")
		    $(".overCurtain").fadeOut("slow")
		})
		$("#registerclose").click(function () {
		    $(".hide-center-register").fadeOut("slow")
		    $(".overCurtain").fadeOut("slow")
		})
		</script>
	</body>
</html>
