<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>管理员登录</title>
    <!-- Bootstrap core CSS -->
    <link href="static/asserts/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/asserts/css/signin.css" rel="stylesheet">
</head>


<body class="text-center">
<div th:text="${#request.getAttribute('msg')}" id="showMsg" style="display: none">存数据的盒子，默认设置隐藏｛即输出的对应内容｝</div>
<script  type="text/javascript">
    /*消息弹窗*/
    msg = document.getElementById("showMsg").innerHTML;
    if (msg!=""){
        alert(msg)
    }
</script>
<form class="form-signin" name="login" action="/admin/login" method="post" onsubmit="return check()">
    <img class="mb-4"  src="static/images/manager.jpg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    <label class="sr-only">管理员账户</label>
    <input type="text" name="adminName" class="form-control" placeholder="管理员账户" required="" autofocus="">
    <label class="sr-only">管理员密码</label>
    <input type="password" name="adminPassword" class="form-control" placeholder="管理员密码" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <p class="mt-5 mb-3 text-muted">Copyright©2021-2022Liyuxi and LQQ Designed by Liyuxi and LQQ</p>
</form>

</body>

</html>