<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>课程信息</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--消息弹窗-->
<div th:text="${#request.getAttribute('msg')}" id="showMsg" style="display: none">存数据的盒子，默认设置隐藏｛即输出的对应内容｝</div>
<script  type="text/javascript">
    /*消息弹窗*/
    msg = document.getElementById("showMsg").innerHTML;
    if (msg!=""){
        alert(msg);
    }
</script>
<nav class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header m-blog" style=" display: inline-block; padding-top: 10px;">健身房管理系统</h2>
            <form name="hiddenFrom" action="/user/login" method="post">
                <input type="hidden" name="userName" th:value="${user.userName}">
                <input type="hidden" name="password" th:value="${user.password}">
                <a href="javascript:document.hiddenFrom.submit();" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            </form>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <div class="login-button">
                        <span>用户:</span>
                        <a th:text="${user.userName}"  th:href="@{/user/info(userName=${user.userName})}">李禹锡</a>
                    </div>
                    <i style="margin-right:7px; margin-left:7px;  ">|</i>
                    <div class="login-button">
                        <a th:href="@{/index}" style="text-decoration: none;">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>



<!--中间内容-->
<div class="container text-center" style="border: solid 1px black; border-radius: 10px; margin-top: 20px; margin-bottom: 20px; padding: 20px;">
    <h2 class="text-center" style="margin: 20px;">课程信息</h2>

    <!-- 按钮触发模态框 -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" th:href="@{'/pick/courseList/'+${user.userID}(type=userID)}">
        个人课程
    </button>
    <!-- 模态框（Modal） -->
    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--用来引入链接内容的空白模态框-->
            </div>
        </div>
    </div>

    <script>
        $("#myModal").on("hidden.bs.modal", function() {
            $(this).removeData("bs.modal");
        });
        /*删除目标选课数据*/
        function deleteCourse(courseID,userID) {
            $.ajax({
                url: "/pick/delete/" + courseID + "/" + userID,
                async: false,
                cache: false,
                type: "POST",
                dataType: "json",
                complete: function(){
                    /*刷新模态框*/
                    $("#myModal").removeData("bs.modal");//加载前，先清空模态窗口的内容
                    $("#myModal").modal({
                        remote:"/pick/courseList/"+userID+"?type=userID",
                    })
                }
            })
        }

    </script>


    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">课程号</th>
                    <th scope="col" class="text-center">课程名</th>
                    <th scope="col" class="text-center">任课教练</th>
                    <th scope="col" class="text-center">上课时间/周</th>
                    <th scope="col" class="text-center">课余量</th>
                    <th scope="col" class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="course:${courseInfo}">
                <td class="text-center" th:text="${course.courseID}">courseID</td>
                <td class="text-center" th:text="${course.courseName}">courseName</td>
                <td class="text-center" th:text="${course.empName}">empName</td>
                <td class="text-center" th:text="${course.time}">time</td>
                <td class="text-center" th:text="${course.residue}">residue</td>
                    <td class="text-center"><a class="btn btn-primary" th:href="@{'/pick/'+${user.userID}+'/'+${course.courseID}}">选课</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- 底部 -->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="/static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px;"/>
                    </div>
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新动态</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">健身器材</a>
                    <a href="#" class="item">入会须知</a>
                    <a href="#" class="item">最新课程</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:2328181539@qq.com</a>
                    <a href="#" class="item">QQ:2328181539</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">介绍</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是本健身会所的首页,给用户提供一些健身房的介绍...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright©2021-2022Liyuxi and LQQ Designed by Liyuxi and LQQ</p>
    </div>
</footer>
</body>
</html>