
.m-padded-tb-mini{
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}
.m-padded-tb{
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}
.m-padded-tb-large{
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}
.m-padded-tb-big{
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}
.m-padded-tb-huge{
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}
.m-padded-tb-massive{
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}

/* margin */
.m-margin-tb-tiny{
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
}
.m-blog{
	margin-top:0.3em !important ;
}

/* text */
.m-text{
	font-weight: 300 !important;
	letter-spacing: 1px !important;
	line-height: 1.8 !important;
}


/* opacity */
.m-opacity-mini{
	opacity: 0.8 !important;
}
.m-opacity-tiny{
	opacity: 0.6 !important;
}

/* position */
.m-right-top{
	position: absolute;
	top: 0;
	right: 0;
}

/* display */
.m-inline-blok{
	display: inline-block !important;
}


/* container */
.m-container{
	max-width: 72em !important;
	margin: auto !important;
}


/* color */
.m-black{
	color: #333 !important;
}






.m-padded-tb-mini{
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}
.m-padded-tb{
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}
.m-padded-tb-large{
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}
.m-padded-tb-big{
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}
.m-padded-tb-huge{
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}
.m-padded-tb-massive{
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}

/* margin */
.m-margin-tb-tiny{
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
}
.m-blog{
	margin-top:0.3em !important ;
}

/* text */
.m-text{
	font-weight: 300 !important;
	letter-spacing: 1px !important;
	line-height: 1.8 !important;
}


/* opacity */
.m-opacity-mini{
	opacity: 0.8 !important;
}
.m-opacity-tiny{
	opacity: 0.6 !important;
}

/* position */
.m-right-top{
	position: absolute;
	top: 0;
	right: 0;
}

/* display */
.m-inline-blok{
	display: inline-block !important;
}


/* container */
.m-container{
	max-width: 72em !important;
	margin: auto !important;
}


/* color */
.m-black{
	color: #333 !important;
}

.me-iframe{
	height: 100% !important;
	border: none;
	border-left: solid 1px red;
}